{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Agenda</title>
  {% include 'parciais/_head.html' %}
</head>

<body>
  {% include 'parciais/_nave.html' %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br><br>

          <nav class="navbar navbar-light bg-light">

            <form  methodo="get" action="{% url 'busca' %}" class="form-inline" >
              <div class="form-group">
                <div class="col-12">
                  <input 
                  class="form-control mr-sm-2"
                  value="{{ request.GET.termo }}"
                  id="search-input"
                  placeholder="Digite sua pesquisa"
                  name="termo"
                  type="search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </div>
              </div>
            </form>

          </nav>

        {% block conteudo %}  {% endblock %}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>