{% extends 'base.html' %}

{% block conteudo %}   

    <h1 class="mt-5">Minha agenda</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Telefone</th>
                <th>Data</th>
                <th>Categoria</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for contato in contatos %}
                <tr>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.sobrenome }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.data_criacao | date:'d/m/Y' }}</td>
                    <td>{{ contato.categoria }}</td>
                    <td> <a href="{% url 'ver_contato' contato.id %}">Editar</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}