{% extends 'base.html' %}

{% block titulo %} {{ contato.nome }} {{ contato.sobrenome }} | {% endblock %}

{% block conteudo %}   

        <h2 class="mt-3">{{ contato.nome }} {{ contato.sobrenome }}</h2>

        {% comment %} #Inserir imagens {% endcomment %}

        {% if contato.foto %}
            <p>
                <img src="{{ contato.foto.url }}" alt="" style="max-width: 250px; height: auto; border-radius: 50px;">
            </p>
        {% endif %}


    <dl>
        <dt>ID</dt>
        <dd>{{ contato.id }}</dd>

        <dt>Telefone</dt>
        <dd>{{ contato.telefone }}</dd>

        <dt>E-mail</dt>
        <dd>{{ contato.email }}</dd>

        <dt>Data criação</dt>
        <dd>{{ contato.data_criacao | date:'d/m/Y'}}</dd>

        <dt>Categoria</dt>
        <dd>{{ contato.categoria }}</dd>

        <dt>Descrição</dt>
        <dd>{{ contato.descricao }} </dd>
    </dl>

{% endblock %}